// /* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/07/14/24/new-zealand-1805939_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

