.login {
    text-align: right;
    background-color: white;
    color: blue;
}

#header {
    background-color: rgb(245, 245, 245, 0.5);
    padding-top: 10px;
    padding-bottom: 20px;
}

#name {
    margin-top: 75px;
    margin-left: 210px;
}

#signup {
    text-align: center;
}

#body {
    height: 400px;
}

#logo {
    width: 10%;
    border-radius: 50%;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

#text {
    margin-left: 50px;
}